<div id="page-container" [class.blur]="blur">
  <div id="content-wrap">
    <app-title-bar (gamesSelected)="gamesHandler()" 
                   (rulesSelected)="rulesHandler()">
    </app-title-bar>
    <router-outlet></router-outlet>
  </div>
  <!-- <div>
    <app-footer id="footer"></app-footer>
  </div> -->
  <app-action-bar-footer (chessSetSelected)="gamesHandler()" 
                         (scrollSelected)="rulesHandler()" 
                         (plusHandler)="addGameHandler()">

  </app-action-bar-footer>
</div>
