@import '~@angular/material/theming';

@include mat-core();

@import './themes/black-theme';
@import './themes/light-theme';

@import './app/main/modules/main-content/main-content.component-theme.scss';
@import './app/main/modules/main-content/modules/larger-screen-content/components/footer/footer.component-theme.scss';
@import './app/main/modules/main-content/modules/mobile-content/components/action-bar-footer/action-bar-footer.component-theme.scss';
@import './app/shared/modules/button/components/button-icon-active-state/button-icon-active-state.component-theme.scss';
@import './app/shared/modules/add-game/components/dialog-data/game-result/game-result.component-theme.scss';

@mixin custom-components-theme($theme) {
  @include main-content-component-theme($theme);
  @include footer-component-theme($theme);
  @include action-bar-footer-component-theme($theme);
  @include button-icon-active-state-component-theme($theme);
  @include game-result-component-theme($theme);
}

.light-theme {
  @include angular-material-theme($anms-light-theme);
  @include custom-components-theme($anms-light-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);

  // span {
  //   color: white;
  // }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
