<div class="container">
  <div [appGridRow]="[GridSizes.EXTRA_SMALL, GridSizes.SMALL, GridSizes.MEDIUM, GridSizes.LARGE]">
    <div [appGridColumn]="[10, 10 ,11, 11]">
      <ui-game-table *ngIf="!loading"
                     [displayedColumns]="displayedColumns"
                     [games$]="games$">
      </ui-game-table>
      <app-game-table-loader *ngIf="loading"
                             [displayedColumns]="displayedColumns"
                             [games]="loadingGames">
      </app-game-table-loader>
    </div>
    <div [appGridColumn]="[2, 2, 1, 1]">
      <ui-table-action (actionClickEvent)="emitActionEvent($event)" [appPosition]="Positions.FIXED_MIDDLE"
                       [actions]="actions"
                       [disabled]="disabled">
      </ui-table-action>
    </div>
  </div>
</div>
