<h1 mat-dialog-title>Enter a score</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label appTranslate="pages.home.games.labels.white"></mat-label>
    <mat-select [(ngModel)]="data.white">
      <mat-option *ngFor="let user of users" [value]="user.name">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label appTranslate="pages.home.games.labels.winner"></mat-label>
    <mat-select [(ngModel)]="data.winner">
      <mat-option *ngFor="let winner of winners" [value]="winner">
        <span [appTranslate]="'pages.home.games.cell.winner.' + winner"></span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label appTranslate="pages.home.games.labels.black"></mat-label>
    <mat-select [(ngModel)]="data.black">
      <mat-option *ngFor="let user of users" [value]="user.name">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <app-button (clickEvent)="onNoClick()"
              [buttonFunction]="ButtonFunction.CANCEL"
              [buttonType]="ButtonType.PRIMARY">
  </app-button>

  <app-button (clickEvent)="onNoClick()"
              [buttonFunction]="ButtonFunction.SAVE"
              [buttonType]="ButtonType.PRIMARY"
              [dialogDataToSubmit]="data">
  </app-button>

  <!--  TODO: find out about focus initial on the button-->
  <!--  <button appTranslate="buttons.save"-->
  <!--          cdkFocusInitial-->
  <!--          mat-button></button>-->
</div>
