<div class="container">
  <div [alignment]="Alignments.BASELINE"
       [appGridRow]="[GridSizes.EXTRA_SMALL, GridSizes.SMALL, GridSizes.MEDIUM, GridSizes.LARGE]">
    <div [appGridColumn]="[12, 10, 11, 11]" style="margin-bottom: 30px">
      <ui-game-table [displayedColumns]="displayedColumns"
                     [games$]="games$">
      </ui-game-table>
    </div>
    <div [appGridColumn]="[2, 2, 1, 1]">
      <ui-table-action [ids]="['add-game-button']"
                       (actionClickEvent)="emitActionEvent($event)"
                       [actions]="actions"
                       [disabled]="disabled">
      </ui-table-action>
    </div>
  </div>
</div>
