.button-icon-active-color {
  -webkit-transition: 'color 1s ease';
  -moz-transition: 'color 1s ease';
  -ms-transition: 'color 1s ease';
  -o-transition: 'color 1s ease';
  transition: 'color 1s ease';
}

.button-icon-inactive-color {
  -webkit-transition: 'color 1s ease';
  -moz-transition: 'color 1s ease';
  -ms-transition: 'color 1s ease';
  -o-transition: 'color 1s ease';
  transition: 'color 1s ease';
}
