<ui-game-result (cancelEvent)="cancelEventHandler()"
                (fieldUpdateEvent)="fieldUpdateHandler($event)"
                [data]="data"
                [disabled]="ifAllFieldsAreNotField()"
                [winnerFieldHidden]="usersAreNotDefined()"
                [usersBlack]="users"
                [usersWhite]="users"
                [winnerOptions]="winnerOptions"
                [winnersDeselected]="winnersDeselected"
                [blackDeselected]="blackDeselected"
                [disabledWinnerOptions]="determineDisabledWinnerOptions()"
                [blackDisabled]="!data.white"
                [winnersDisabled]="areAllWinnerOptionsDisabled()"
                [winners]="winners"> 
</ui-game-result>
