<app-button-icon id="user-settings"
                 [icon]="Icons.USER"
                 [iconSize]="IconSize.SMALL_MEDIUM"
                 [iconColor]="settingsIconColor"
                 (clickEvent)="userIconHandler()">
</app-button-icon>

<mat-select #userSettingsDropDown class="selector">
  <mat-option (click)="logoutHandler()" [id]="logout">
    {{ logout }}
  </mat-option>
  <mat-option (click)="switchLanguageHandler()" [id]="alternativeLanguage">
    {{ alternativeLanguage }}
  </mat-option>
</mat-select>
