<app-button-icon id="user-settings"
                 [icon]="Icons.USER"
                 [iconSize]="IconSize.SMALL_MEDIUM"
                 [iconColor]="settingsIconColor"
                 (clickEvent)="userIconHandler()">
</app-button-icon>

<mat-select #userSettingsDropDown class="selector">
  <mat-option (click)="switchLanguageHandler()" [id]="alternativeLanguage">
    <span [class]="'flag-icon flag-icon-' + setIconLanguage"></span>
  </mat-option>
  <mat-option (click)="logoutHandler()" id="logout">
    <span [appTranslate]="'user-actions.logout'"></span>
  </mat-option>
</mat-select>
