<mat-toolbar [color]="color">
  <div>
    <span class="margin-right-10">
      <app-icon [icon]="Icons.MONTEPOELI"></app-icon>
    </span>
    <span>Montepoeli</span>
  </div>
  <div class="left-spacer"></div>

  <mat-tab-group animationDuration="0ms" (selectedTabChange)="handleChangeEvent($event)">
    <mat-tab>
      <ng-template mat-tab-label id="nav-bar-games">
        <app-icon [matTooltip]="'pages.home.games.tooltip' | translate"
                  [icon]="Icons.CHESS_PIECES"
                  [iconSize]="IconSize.MEDIUM"></app-icon>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label id="nav-bar-rules">
        <app-icon [matTooltip]="'pages.home.rules.tooltip' | translate"
                  [icon]="Icons.SCROLL"
                  [iconSize]="IconSize.MEDIUM"></app-icon>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div class="right-spacer"></div>
</mat-toolbar>
