<!--TODO: write test for footer, maybe a component test could be enough for this e2e might be a bit of an overkill-->
<!--TODO: Fix footer -->
<footer class="footer">
  <p class="d-flex align-items-center justify-content-center">
    <span appTranslate="app.footer.part1">
      <span>{{ spacer }}</span>
    </span>
    <app-icon [icon]="icons.heart" [iconColor]="iconColor.accent" [iconSize]="iconSize.small"> </app-icon>
    <span appTranslate="app.footer.part2">
      <span>{{ spacer }}</span>
    </span>
  </p>
</footer>
