<div class="action-bar-footer container" [class.raised]="raised">
  <div [appGridRow]="[gridSizes.all]">
    <div [appGridColumn]="[6]" [offsets]="[3]" class="d-flex justify-content-between">
      <div>
        <app-button-icon-active-state
          id="games-tab"
          [icon]="icons.chessPieces"
          [iconSize]="iconSize.medium"
          [squareButton]="true"
          [active]="selected === icons.chessPieces"
          (clickEvent)="chessSetClicked()"
        >
        </app-button-icon-active-state>
      </div>
      <div>
        <app-button-icon-active-state
          id="add-game-footer"
          [appShowAndHide]="showPlusIcon"
          [icon]="icons.plus"
          [iconSize]="iconSize.medium"
          [squareButton]="true"
          [active]="selected === icons.plus"
          (clickEvent)="plusClicked()"
        >
        </app-button-icon-active-state>
      </div>
      <div>
        <app-button-icon-active-state
          id="rules-tab"
          [icon]="Icons.scroll"
          [iconSize]="IconSize.medium"
          [squareButton]="true"
          [active]="selected === Icons.scroll"
          (clickEvent)="scrollClicked()"
        >
        </app-button-icon-active-state>
      </div>
    </div>
  </div>
</div>
