.color-black {
    color: black;
    -webkit-transition:  'color 1s ease';
    -moz-transition: 'color 1s ease';
    -ms-transition: 'color 1s ease';
    -o-transition: 'color 1s ease';
    transition: 'color 1s ease';
}

.color-gray {
    color: gray;
    -webkit-transition:  'color 1s ease';
    -moz-transition: 'color 1s ease';
    -ms-transition: 'color 1s ease';
    -o-transition: 'color 1s ease';
    transition: 'color 1s ease';
}