<table [dataSource]="games" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="white">
    <th *matHeaderCellDef appTranslate="pages.home.games.labels.white" mat-header-cell></th>
    <td *matCellDef="let element" mat-cell> {{element.white}} </td>
  </ng-container>

  <ng-container matColumnDef="winner">
    <th *matHeaderCellDef appTranslate="pages.home.games.labels.winner" mat-header-cell></th>
    <td *matCellDef="let element" [appTranslate]="'pages.home.games.cell.winner.' + element.winner" mat-cell></td>
  </ng-container>

  <ng-container matColumnDef="black">
    <th *matHeaderCellDef appTranslate="pages.home.games.labels.black" mat-header-cell></th>
    <td *matCellDef="let element" mat-cell> {{element.black}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
