$anms-light-primary: mat-palette($mat-green, 300);
$anms-light-accent: mat-palette($mat-orange, 200);
$anms-light-warn: mat-palette($mat-deep-orange, 200);

$anms-light-theme: mat-light-theme($anms-light-primary, $anms-light-accent, $anms-light-warn);

$custom-variables: (
  background-of-main: white,
  text-color: black,
  action-bar-top-border: lightgray,
  action-bar-border-background: white,
  button-icon-active-color: black,
  button-icon-inactive-color: gray,
  form-field-underline-disabled: #e0e0e0,
  label-color: rgba(0, 0, 0, 0.54),
);

$anms-light-theme: map_merge($anms-light-theme, $custom-variables);
