$anms-light-primary: mat-palette($mat-grey, 600);
$anms-light-accent: mat-palette($mat-red, 700);
$anms-light-warn: mat-palette($mat-deep-orange, 200);

$anms-light-theme: mat-light-theme(
  $anms-light-primary,
  $anms-light-accent,
  $anms-light-warn
);

$custom-variables: (
  background-of-main: white, 
  text-color: black,
  action-bar-top-border: lightgray,
  action-bar-border-background: white,
  button-icon-active-color: black,
  button-icon-inactive-color: gray,
  form-field-underline-disabled: mat-color($anms-light-primary, 100), // TODO: fix naming. Iets met active of disabled in de naam
  label-color: rgba(0, 0, 0, 0.54),
  chip-text-color: darkgray,
  active-chip-background-color: mat-color($anms-light-primary, 300)
  );

$anms-light-theme: map_merge($anms-light-theme, $custom-variables);
